<div class="center jumbotron" >
  <h1>Blue Gaming Blog</h1>
  <%= link_to "Sign up now", "#", class: "btn btn-primary btn-xlarge" %>
</div>
<footer>
  <small>Background vector created by katemangostar - www.freepik.com</small>
</footer>
